body {
    background: rgba(44, 53, 70, 0.15);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 1186px;
    margin-bottom: 100px;
}

.heading {
    text-align: center;
}

.subheading {
    margin-top: -10px;
    color: #2C3546;
    font-style: italic;
}

.subheading span {
    color: #F9B054;
}

.halaman {
    margin-top: 40px;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background: #2C3546;
    font-style: italic;
    font-weight: 300;
    font-size: 31px;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 5px;
    box-sizing: border-box;
}

.produk {
    display: flex;
    width: 1186px;
    height: 438px;
    background-color: blue;
}

.wrap {
    width: 100%;
    background-color: blue;
}

.form {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 45px;
    box-sizing: border-box;
}

.from-wrap {
    background: rgba(44, 53, 70, 0.06);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.baris2 {
    margin-top: 0px;
}

.baris3 {
    margin-top: 40px;
}

input {
    background-color: white;
    width: 350px;
    height: 30px;
    border: none;
}

.submit {
    margin-top: 30px;
    background-color: #F9B054;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

/* Halaman 2 */
.container2 {
    width: 1139px;
    margin: auto;
}

.heading2 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #2C3546;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.heading2 span {
    color: #F9B054;
}

.detail-produk {
    margin: auto;
    width: 800px;
    background: #F3F3F4;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
}

.img-detail{
    background-color: #F9B054;
    padding: 20px;
    border-radius: 20px;
}

.informasi-data{
    /* background-color: red; */
    margin-left: 30px;
    width: 100%;
}

.informasi-data .title{
    background-color: #2C3546;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 100px;
}


/* Halaman 2 */